@page


<h1 class="text-danger">Erreur.</h1>
<h2 class="text-danger">Une erreur s'est produite lors du traitement de votre demande.</h2>

<h3>Mode de développement</h3>
<p>
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p>
<p>
    <strong>L'environnement de développement ne doit pas être activé pour les applications déployées.</strong>
    Cela peut entraîner l'affichage d'informations sensibles provenant d'exceptions aux utilisateurs finaux.
    Pour le débogage local, activez le <strong>Développement</strong> environnement en définissant le <strong>ASPNETCORE_ENVIRONMENT</strong> variable d'environnement à <strong>Développement</strong>
    et redémarrer l'application.
</p>
