@page "/ensavoirplus"


<div style="margin-bottom:30px;">
    <h2 style="text-align:center; background-color:dodgerblue;"> Diagramme de cas d’utilisation </h2>
    <img style="display:block;margin-left: auto;margin-right: auto;width: 100%;" src="images/diagram.jpeg" />
</div>

<div style="margin-top:10px;">
    <h2 style="text-align:center; background-color:dodgerblue;"> Architecture Logicielle </h2>
    <img style="display:block;margin-left: auto;margin-right: auto;width: 100%;" src="images/serverClientSideBlocks.jpeg" />
    <img style="display:block;margin-left: auto;margin-right: auto;width: 100%;" src="images/serverClientSideCube.jpeg" />
</div>
@code {
}
